<div class="container" style="margin-top: 10px;">
  <button type="button" class="btn btn-dark" (click)="StartOrder()">Crear Order</button>

  <table class="table" style="margin-top: 10px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Total</th>
        <th scope="col">Fecha de compra</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList | paginate: { itemsPerPage: 10, currentPage: o }">
        <th scope="row">{{item.OrderId}}</th>
        <td>{{item.ClientName}}</td>
        <td>{{item.Total}}</td>
        <td>{{item.PurchaseDate}}</td>
        <td><button type="button" class="btn btn-danger" (click)="DeleteOrder(item.OrderId)"><fa-icon [icon]="icoTrash"></fa-icon>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>


<!-- Modal de creacion -->

<ng-template #DeleteOrderModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1>¿Seguro que desea eliminar el registro?</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="DeleteConfirm()">Si</button>
  </div>
</ng-template>

<ng-template #UpdateOrderModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row" style="margin-top: 20px;">


        <div class="col-md-6">
          <div class="form-group">
            <label for="FirstName">Primer Nombre</label>
            <input [(ngModel)]="updateModel.Name" [ngModelOptions]="{standalone: true}" id="Name" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="LastName">Cantidad</label>
            <input [(ngModel)]="updateModel.Quantity" [ngModelOptions]="{standalone: true}" id="Quantity" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="Price">Precio</label>
            <input [(ngModel)]="updateModel.Price" [ngModelOptions]="{standalone: true}" id="Price" type="text" class="form-control">
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="UpdateConfirm()">Enviar</button>
  </div>
</ng-template>

<ng-template #ProductModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione los productos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" style="margin-top: 10px;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productList | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{item.ProductId}}</th>
          <td>{{item.Name}}</td>
          <td>{{item.Quantity}}</td>
          <td>{{item.Price}}</td>

          <td><button class="btn btn-dark" (click)="PickProduct(item)"><fa-icon [icon]="icoPlus"></fa-icon></button></td>
        </tr>
      </tbody>
    </table>

    <ul class="list-group" *ngFor="let item of productPicked">
      <li class="list-group-item">{{ item.Name }}</li>
    </ul>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="CreateOrder()">Continuar</button>
  </div>
</ng-template>

<ng-template #ClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Busque el cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <input type="text" class="form-control" [(ngModel)]="clientName" placeholder="Nombre" (keyup)="FilterClientName()">

    <table class="table" style="margin-top: 10px;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Identificación</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clientList | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{item.FirstName}}</td>
          <td>{{item.LastName}}</td>
          <td>{{item.Identification}}</td>
          <td><button class="btn btn-dark" (click)="PickClient(item.ClientId)"><fa-icon [icon]="icoPlus"></fa-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
